<?xml version="1.0" encoding="utf-8"?>
<!--Titan-->
<window>
    <defaultcontrol always="true">9000</defaultcontrol>
    
    <include>DefaultSkinSettings</include>
    <!--set trailer alarm off-->
    <onload condition="System.HasAlarm(trailer_delay)">CancelAlarm(trailer_delay,silent)</onload>
    <!-- <onload>AlarmClock(setfocus,SetFocus(9000),00:00,silent)</onload> -->
    <controls>
        <!--Global Background-->
        <include>GlobalBackground</include>
 		<!-- Now playing -->
		<include condition="!Skin.HasTheme(classic)">NowPlayingModern</include>
		
        <!--Header-->
        <include>Header</include>
        <control type="group">
            <include>animation_window_open_close</include>
            <bottom>118</bottom>
            <height>75%</height>
            
			<!--Panel-->
			<control type="image">
                <width>100%</width>
				
                <texture border="15">diffuse/bgpanel.png</texture>
				<colordiffuse>$INFO[Skin.String(GeneralPanelsColor)]</colordiffuse>
            </control>
           
            <!--Picture	(Fanart)-->
            <control type="image">
                <posx>80</posx>
                <posy>140</posy>
                <width>500</width>
                <height>300</height>
                <texture background="true">$INFO[Container(9000).ListItem.ActualIcon]</texture>
                <aspectratio>scale</aspectratio>
            </control>
            
            <!--InfoText-->
            <control type="textbox">
                <posx>80</posx>
                <posy>470</posy>
                <width>500</width>
                <height>250</height>
                <font>TEST12</font>
                <align>center</align>
                <label>$INFO[Container(9000).ListItem.Label2]</label>
				<textcolor>$INFO[Skin.String(ViewDetailsListItemTextFocusColor)]</textcolor>
            </control>
            
			<!--List 9000-->
            <control type="panel" id="9000">
                <viewtype label="31437">icons</viewtype>
                <right>80</right>
                <top>30</top>
                <height>780</height>
                <width>1200</width>
                <orientation>vertical</orientation>
                <onup>9000</onup>
                <ondown>9000</ondown>
                <preloaditems>4</preloaditems>
                <itemlayout height="260" width="300">
                   
					<control type="group">
						<width>200</width>
                        <height>200</height>
						<control type="image">
							<texture border="0">diffuse/roundmask.png</texture>
							<colordiffuse>$VAR[ViewDetailsPanelColor]</colordiffuse>
						</control>
						<control type="image">
							<description>Normal Poster thumb stretched aspect</description>
							<texture border="1" background="true" diffuse="diffuse/roundmask.png" fallback="DefaultVideo.png">$INFO[ListItem.Icon]</texture>
							<aspectratio scalediffuse="false" align="center">scale</aspectratio>
							<colordiffuse>$INFO[Skin.String(ViewDetailsListItemTextColor)]</colordiffuse>
							<bordersize>17</bordersize>
						</control>
					</control>
					<control type="textbox">
						<width>200</width>
						<height>50</height>
						<top>205</top>
						<align>center</align>
						<label>$INFO[ListItem.Label]</label>
						<font>Reg22</font>
						<autoscroll delay="3000" time="3000" repeat="500">false</autoscroll>
						<textcolor>$INFO[Skin.String(ViewDetailsListItemTextColor)]</textcolor>
					</control>
					
                </itemlayout>
                <focusedlayout height="260" width="300">
					<control type="group">
						<include>Focus_Zoom_Animation</include>
                        <width>200</width>
                        <height>200</height>
						<control type="image">
							<texture border="0">diffuse/roundmask.png</texture>
							<colordiffuse>$VAR[ViewDetailsBorderFocusColor]</colordiffuse>
							<aspect>keep</aspect>
						</control>
						<control type="image">
							<!-- <animation effect="fade" start="100" end="60" time="250" condition="true">focus</animation> -->
							<texture border="1" colordiffuse="$INFO[Skin.String(ViewDetailsListItemTextFocusColor)]" background="true" diffuse="diffuse/roundmask.png">$INFO[ListItem.Icon]</texture>
							<aspectratio scalediffuse="false" aligny="bottom" align="center">scale</aspectratio>
							<bordersize>15</bordersize>
						</control>
						<control type="textbox">
							<width>200</width>
							<height>50</height>
							<top>205</top>
							<align>center</align>
							<label>$INFO[ListItem.Label]</label>
							<font>Bold22</font>
							<autoscroll delay="3000" time="3000" repeat="500">false</autoscroll>
							<textcolor>$INFO[Skin.String(ViewDetailsListItemTextFocusColor)]</textcolor>
						</control>
					</control>
				</focusedlayout>
				<content>
                    <item id="11">
                        <description>Skin Settings</description>
                        <label>20077</label>
                        <label2>31407</label2>
                        <onclick>activatewindow(skinsettings)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_skin_settings.jpg</icon>
                        <thumb>resource://resource.images.skinicons.wide/addonskin.png</thumb>
                    </item>
                    <item id="1">
                        <description>Interface</description>
                        <label>14206</label>
                        <label2>31400</label2>
                        <onclick>activatewindow(InterfaceSettings)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_interface.jpg</icon>
                        <thumb>resource://resource.images.skinicons.wide/interface.png</thumb>
                    </item>
                    <item id="2">
                        <description>Media Settings</description>
                        <label>14212</label>
                        <label2>14212</label2>
                        <onclick>activatewindow(MediaSettings)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_media_settings.jpg</icon>
                        <thumb>resource://resource.images.skinicons.wide/media.png</thumb>
                    </item>
                    <item id="3">
                        <description>Live TV</description>
                        <label>31088</label>
                        <label2>31410</label2>
                        <onclick>ActivateWindow(PVRSettings)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_live_tv.jpg</icon>
                        <thumb>resource://resource.images.skinicons.wide/addonpvrclient.png</thumb>
                    </item>
                    <item id="4">
                        <description>Player</description>
                        <label>14201</label>
                        <label2>14201</label2>
                        <onclick>ActivateWindow(PlayerSettings)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_player_settings.jpg</icon>
                        <thumb>resource://resource.images.skinicons.wide/player.png</thumb>
                    </item>
                    <item id="5">
                        <description>Addons</description>
                        <label>24001</label>
                        <label2>31408</label2>
                        <onclick>activatewindow(AddonBrowser)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_addons.jpg</icon>
                        <thumb>defaultvideoplugins.png</thumb>
                    </item>
					<item id="13"><!-- check -->
                        <description>Games</description>
                        <label>$LOCALIZE[15016]</label>
                        <label2>$LOCALIZE[15016]</label2>
                        <onclick>ActivateWindow(GameSettings)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_addons.jpg</icon>
                        <thumb>defaultaddongame.png</thumb>
                        <!-- <visible>System.GetBool(gamesgeneral.enable)</visible> -->
                    </item>
                    <item id="8">
                        <description>Network/Services</description>
                        <label>14036</label>
                        <label2>31405</label2>
                        <onclick>activatewindow(ServiceSettings)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_services.jpg</icon>
                        <thumb>resource://resource.images.skinicons.wide/addonservice.png</thumb>
                    </item>
                    <item id="9">
                        <description>System</description>
                        <label>13000</label>
                        <label2>31406</label2>
                        <onclick>activatewindow(SystemSettings)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_system.jpg</icon>
                        <thumb>resource://resource.images.skinicons.wide/harddisk.png</thumb>
                    </item>
                    <item id="10">
                        <description>System Info</description>
                        <label>130</label>
                        <label2>31409</label2>
                        <onclick>activatewindow(7)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_system_info.jpg</icon>
                        <thumb>resource://resource.images.skinicons.wide/cpu.png</thumb>
                    </item>
                    <item id="12">
                        <description>Profiles</description>
                        <label>13200</label>
                        <label2>31421</label2>
                        <onclick>activatewindow(Profiles)</onclick>
                        <icon>resource://resource.images.skinbackgrounds.titanium/settings_profiles.jpg</icon>
                        <thumb>resource://resource.images.skinicons.wide/actor.png</thumb>
                    </item>
                </content>
            </control>
            
        </control>
		
		<!--Footer-->
        <include condition="!skin.hassetting(nofooterbar)">Footer</include>
		<!--Titan Version-->
        <include>TitanVersion</include>
        <include condition="Skin.HasSetting(DebugGrid) | Skin.HasSetting(DebugInfo)">DebugInfo</include>
    </controls>
</window>
